#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #ecf4fd;
  color: black;
}

.container-styles {
  background: white;
  padding: 20px;
  border-radius: 4px;
}
